title{font-family: 'Nanum Gothic', sans-serif;}

.container {
position:relative;
min-width:1280px;
z-index: 100
}

.bg {
position:absolute; top:0; left:0; right:0;
min-width:1280px; height:4320px;
overflow:hidden; z-index: 0
}

.bg .inner {
position:absolute;
top:0; left:50%;
width:1920px;
height:4320px;
margin:0 0 0 -960px;
background: url("../img/back.png") no-repeat 0 0;
}

.page{min-width: 1280px;height:1080px; position: relative;
  /* border:4px solid blue; */
}

.page.main{}
.main .top_menu{ height:139px; margin-top:43px;
position: relative; z-index: 50;
}
.main .top_menu .logo_wrap{height: 86px; }
.main .top_menu .logo{
  display: block;
  width:228px; height: 40px;
  background: url("../img/logo.png") no-repeat 0 0;
  position: absolute; top:0; left:0; bottom:0; right:0; margin: 22px auto;
}
.main .top_menu .menu_list{
  width: 980px;
  position:absolute; top:85px; left:0; right:0; margin: auto;
  text-align: center; height:52px; line-height: 52px;
  display: flex; align-items: center;
}
.main .top_menu .menu_list > li{display: inline-block; flex:1;}
.main .top_menu .menu_list > li > a{display: block; text-transform: uppercase;
  letter-spacing: 2px; font:1.05rem  'Work Sans', sans-serif; color: #b3a7a2; font-weight: 400;
}

.main .top_menu .sub_gnb{
  /* height:180px; */
  height: 0; visibility: hidden; opacity: 0;
  position: relative; margin-top:52px;
  transition: opacity .4s ease-in; z-index: 50;
}

.main .top_menu .sub_bg{
  width: 100%;
  /*가로 없이 안보임;;*/
  /* height:180px; */
  height:0; position: absolute; top:139px; margin:auto;
  background:#f8faf0; opacity: 0.9;
}

.main .top_menu .sub_gnb.on{
 opacity: 1;
}

.main .top_menu .sub_gnb nav{ width:980px;
  position:absolute; top:0; left:0; right:0; bottom:0; margin: auto;
  display:flex;
}
.main .top_menu .sub_gnb nav > ul{
  position: relative;
  display: inline-block; vertical-align: top;  flex:1;
  text-align: center; padding-top:10px;
}
.main .top_menu .sub_gnb nav > ul .sub_bar{
  display: block; position:absolute; top:0; left:50%; transform: translateX(-50%);
  width: 50px; height:1px; background: #b3a7a2;
}
.main .top_menu .sub_gnb nav > ul > li{padding: 5px 0;}
.main .top_menu .sub_gnb nav > ul > li > a{
  font: .85rem 'Nanum Gothic', sans-serif; text-transform: uppercase;
  color: #b3a7a2;
}
.main .top_menu .sub_gnb nav > ul > li > a:hover{color:#ff7603;}

.main .top_clip{
  min-width: 1280px;
  position: absolute;
  left:0; right:0; top: -46px; height:1044px;
  z-index: 10; overflow: hidden;

}
.main .top_clip .top_clip_inner{
  position: absolute;
  left:50%;
  margin-left:-960px;
  width: 1920px; height:1044px;
  z-index: 50;
}

.m_ele{position: relative; width:800px; height:900px; margin:0 auto}

.m_ele .m_img .m_donut{
  display:block; width:100%; height:100%;
  position: absolute;
}
.m_ele .m_img .m_donut.back{
  visibility: visible; opacity: 1;
  top:-900px;
  background:url("../img/donut_back.png") no-repeat 0 0;
}


.m_ele .m_img .m_donut.bite{
  visibility: hidden; opacity: 0;
  top:0;
  background:url("../img/donut_bite.png") no-repeat 0 0;
  /* transition: all .1s ease-in; */
}

.m_ele .m_img .m_just{
  position: absolute; top:225px; left:158px;
   width: 644px; height: 355px; z-index: 3;
   background: url("../img/just.png") no-repeat 0 0;
   background-size: 95%;
}
.m_ele .m_img .s_new{
  position: absolute;
  width: 719px; height: 122px; z-index: 4; left:115px; top:620px;
  background: url("../img/copy.png") no-repeat 0 0;
  background-size:90%;
}

.page .second{}
.second .sec_copy{height:130px;}
.second .sec_copy .copy_hello{
  display:block; width: 1112px; height: 91px;
  background: url("../img/hello.png") no-repeat 0 0;
  position: absolute; top:0; left:0; right:0; margin:auto;
}
.second .str_imgset{
  display: flex; height:458px;
}
.second .str_imgset .sto{overflow: hidden;flex:1; }
.second .str_imgset .sto span{transition: .3s ease-in-out;transform: scale(1);}
.second .str_imgset .sto:hover span{transform: scale(1.1);}
.img1{display:block; height:100%; background:url("../img/img1.png")no-repeat center;}
.img2{display:block; height:100%; background:url("../img/img2.png")no-repeat center;}
.img3{display:block; height:100%; background:url("../img/img3.png")no-repeat center;}

.second .sec_txt{}
.second .sec_txt h2,.second .sec_txt p{font-family: 'Nanum Gothic', sans-serif; color:#6c3615;text-align: center;}
.second .sec_txt h2{font-size:2.25rem;font-weight: 600; padding:40px 0 20px 0;}
.second .sec_txt p{font-size:1.05rem;color:#f8faf0; font-weight: lighter; line-height: 30px;}

.second .search{margin-top:40px;position: relative;}


.second .search .icon{
  display: block; width: 133px; height: 121px;
  background:url("../img/icon_store.png") no-repeat 0 0;
  margin:auto; filter: grayscale(100%) opacity(.5);
}

.second .search .point{
  display: block; width: 39px; height: 42px; opacity:0;
  background:url("../img/store_point.png") no-repeat 0 0;
  position: absolute; top:-5px; left:calc(50% + 65px);
}

.search:hover .icon {filter: none;}
.search:hover .point{opacity: 1;}
.second .search p{font-family: 'Nanum Gothic', sans-serif; color:#6c3615; text-align: center;
padding-top:15px;}

.second .coffee{
  width:440px; height:610px; bottom:-140px;
  position: absolute; z-index:10; left:-3.5%;
  background: url("../img/coffee.png") no-repeat 0 0;
  background-size: 85%;
}


/* start first css for sec page*/
.page.sec{}
.page.sec > span {display: block;}
.sec .coffee_bar{
  position: absolute; left:0; top:95px;
  width: calc((100vw - 1112px)/2); height:3px; background:#fff;
}
.sec .coffee{
  width:440px; height:610px; top: 86px;
  position: absolute; z-index:10; left:-2.5%;
  background: url("../img/coffee.png") no-repeat 0 0;
  background-size: 95%;
}
.sec .detail_txt{height: 400px;}

.sec .detail_txt .hello{
  width: 1112px; height: 91px;
  background: url("../img/hello.png") no-repeat 0 0;
  position: absolute; top:55px; left:0; right:0; margin:auto;
}
.sec .detail_txt h2, .sec .detail_txt p{
  font-family: 'Nanum Gothic', sans-serif; color:#6c3615;text-align: center;
}
.sec .detail_txt h2{
  font-size: 2.5rem; padding-top:200px; font-weight: 700;
}
.sec .detail_txt p {
  font-size: 1.25rem; line-height: 2.5rem; padding-top: 50px;color:#f8faf0;
}
.sec .str_img{
  width:1280px; height:360px;
  position: absolute; left:0; right:0; bottom:240px; margin:auto;
}
.sec .str_img > span {
  display: inline-block;
  position: absolute; top:0; right:0; bottom:0; margin:auto;
  border-radius: 50%;
  width: 356px; height:356px; opacity:0; transition:all .5s linear
}
.sec .str_img .str.pic1{
  /* left:-680px; */ z-index: 5;
  left:-690px;
  background: url("../img/str01.png") no-repeat;
  background-position: 68% 0; background-size: cover;
}
.sec .str_img .str.pic2{
  /* left:0; */ z-index: 4;
  /* left:50px; */
  left:-200px;
  background: url("../img/str02.png") no-repeat;
  background-size: cover;
  clip-path: url(#clipping);
}
.sec .str_img .str.pic3{
  /* left:680px; */
  /* left:730px; */
  left:200px;
  z-index: 3;
  background: url("../img/str03.png") no-repeat;
  background-size: cover;
  clip-path: url(#clipping);
}


.sec .str_img .str.on.pic1 {left:-680px; opacity:1}
.sec .str_img .str.on.pic2 {left:0; opacity:1}
.sec .str_img .str.on.pic3 {left:680px; opacity:1}

/* .sec .str_img.on span:nth-child(1) {left:-680px}
.sec .str_img.on span:nth-child(2) {left:0}
.sec .str_img.on span:nth-child(3) {left:680px} */



.sec .find_store{
    position: absolute; width:1180px; height:100%; top:0; left:50%; margin-left: -590px;
}

.sec .find_store .store_ele{
  position: absolute; right:60px; bottom:60px;
}
.sec .find_store .icon{
  display: block; width: 133px; height: 121px;
  background:url("../img/icon_store.png") no-repeat 0 0;
  margin:auto; filter: grayscale(50%) opacity(.5);
}

.sec .find_store .point{
  display: block; width: 39px; height: 42px; opacity:0;
  background:url("../img/store_point.png") no-repeat 0 0;
  position: absolute; top: -10px; right: -15px;
}

.store_ele:hover .icon {filter: none; }

.store_ele:hover .point{
  opacity: 1;
}

.sec .find_store p{font-family: 'Nanum Gothic', sans-serif; color:#6c3615; text-align: center;
padding-top:16px;}

/* end for sec page stylesheet*/

.page.thr{ display: flex; flex-direction: column;}
.page.thr h2 {font-family: "dunkin" , sans-serif; font-weight: 800; font-size: 3.625rem;}
.page.thr p {font-family: 'Nanum Gothic', sans-serif; color:#6c3615; font-size: 1.75rem;}
.thr .menu_title{
    height:120px; position: relative; width:980px; margin: auto;
}
.thr .menu_title h2:before{
  content: ""; display: inline-block; width: 167px; height: 85px;
  position: absolute; top:0; left:0; bottom:0; margin: auto;
  background: url("../img/dd.png") no-repeat 0 0;
}
.thr .menu_title h2{color:#6c3615;padding-left:200px;line-height: 115px;
  position: absolute; top:0; left:0; bottom:0; margin: auto;
 }
.thr .menu_title span.title_bar{
    display: block;
    width:777px; height:3px; background: #f8faf0;
    position: absolute; bottom:12px; right:0;
}

.thr .dom{position: absolute; width: 1180px; height:100%;
  margin-left:-590px; left:50%;
}

 .flipper_container{perspective: 1000px;
  background-color: transparent;
  width:220px; height:220px;
  position: absolute; top:10px; right:10px; z-index: 300
}
.flipper{
  width: 100%; height:100%;
  transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.flipper_container:hover .flipper{
  transform: rotateY(180deg);
}

.fro, .ba{
  height:100%; width: 100%;
  position: absolute; top: 0; right:0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fro .icon_don{
    display: block; width:220px; height:220px;
    /* position: absolute; top:0; right:0; */
    background: url("../img/icon_don.png") no-repeat 0 0;
    background-size: 90%;
}
.ba{
  transform: rotateY(180deg);
  text-align: center;
}
.ba .img_dom{
  display: block; width:220px; height:189px;
  background: url("../img/dom.png") no-repeat center;
}

.page.thr .dom .flipper_container .flipper .ba p{color: #6c3615; font-size:1rem;}
.ba h4{color:#ec0f8f; font: 1.25rem 'Nanum Gothic', sans-serif; font-weight: bold;}
.ba .more{ display: block; width: 60px; height: 22px; border:1px solid #bead9c;
background:#f8faf0; font: .75rem 'smoothy', sans-serif; color:#bead9c;
line-height:20px; border-radius: 10px; text-align: center;
margin:10px 80px;
}

.thr .menu_select{
    position: relative; height:100%;
}

.thr .menu_select .menu_inner{
    position: absolute; width: 980px; height: 100%;
    top: 0; left: 0; right: 0; bottom:0; margin: auto;
}

.thr .menu_select .cof, .thr .menu_select .cof_cir,
.thr .menu_select .sand, .thr .menu_select .sand_cir{
  width: 404px; height:404px;
}
.thr .menu_select .cof{
  position: absolute; top:23px; left:0;

}
.thr .menu_inner .cof .cof_txt{
    z-index: 50;
    position: absolute;
    top:120px; left:80px;
}
.thr .menu_select .cof_cir{
transform: rotate(1deg);
}

.thr .menu_select p{
    margin-bottom:200px;
}

.thr .menu_select .don, .thr .menu_select .cof, .thr .menu_select .sand{
  display: flex; flex-direction: column; text-align: center; justify-content: center;
}
.thr .menu_select .cof, .thr .menu_select .sand{z-index: 100;}

.thr .menu_select .cof h2{color:#6c3615;}
.thr .menu_select .cof p{}
.thr .menu_select .cir_cof{}


.thr .menu_select .cof span.img_cof{
  opacity: 0;
  width: 216px; height: 296px;
  display: block;
  position:absolute; top:-55px; left:-400px;
  background: url("../img/menu_cof.png") no-repeat 0 0;
  background-position: center;
  background-size: 85%;
  transition:all .5s linear;
}
.thr .menu_select .cof span.img_cof.on{
  opacity: 1; left:-195px;
}

.thr .menu_select .btn_more{
  width: 107px; height: 35px; background-color: #f8faf0; border:2px solid #bfae9d;
  border-radius: 18px;
  position: absolute; top:0; right:0; left:0; bottom:0; margin: auto;
}
.thr .menu_select .btn_more a{
  padding-right:10px; line-height: 31px;
  color: #bfae9d; font-family: "smoothy", sans-serif; font-size: 1rem;
}
.thr .menu_select .btn_more a:after{
  position: absolute; top:0; left:63px; bottom:0; right:0; margin:auto;
  content: ""; display: inline-block; width: 10px; height: 17px;
  background: url("../img/btn_morearr.png") no-repeat 0 0;
}

.thr .menu_select .don{
  width: 444px; height:444px; background-color: #f8faf0; border-radius: 50%;
  position: absolute;
  top:0; right:0; left:0; bottom:0;
  margin: auto;
}

.thr .menu_select .don h2{ color:#ec0f8f;}
.thr .menu_select .don p{}
.thr .menu_select .don span.img_don{
  width: 321px; height: 251px; opacity: 0;
  display: block; position: absolute;
  top:700px; right:170px;
  background: url("../img/menu_don.png") no-repeat 0 0;
  background-position: center;
  background-size: 85%; z-index: 50;
  transition:all .5s linear;
}

.thr .menu_select .don span.img_don.on{
  opacity: 1; top:230px;
}

.thr .menu_select .sand{
  position: absolute; right:0; bottom:23px;

}
.thr .menu_inner .sand .sand_txt{
    z-index: 50;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

.thr .menu_select .sand_cir{
transform: rotate(1deg);
}

.thr .menu_select .sand h2{font-size:2.9375rem; color:#f36f21;}
.thr .menu_select .sand span.img_sand{
  position: absolute; top:-190px; right:-150px; opacity: 0;
  width: 261px; height: 185px;
  display: block; background: url("../img/menu_sand.png") no-repeat 0 0; transition:all .5s linear;
}

.thr .menu_select .sand span.img_sand.on{
    opacity: 1; right:-40px;
}

.thr .menu_mun{
  display: block; width: 394px; height: 305px;
  position: absolute;
  left:-39px; bottom:35px;
  background: url("../img/mun.png") no-repeat 0 0;
  background-size: 80%;
}

.page.last{overflow: hidden;}
.last .btm_clip{
  width:1920px; height:1115px;
  position: absolute;
  bottom:43px;
  left:50%;
  margin-left:-960px;
  z-index: 10;
}

.last .last_inner{
    position: relative;
    width:1280px; height:100%;margin: auto;
}
.last .eve_title{
    position: relative;
    width:1280px; height: 80px;
    margin: auto;
    display: flex; align-items: center; justify-content: center;
}
.last .eve_bar{
    display: inline-block;
    position: absolute; left: 0;
    width:calc((100vw - 480px)/2); height:3px; top:57px;
    background: #f8faf0;
}
.last .eve_title h3{
    font-family: "dunkin", sans-serif;
    text-transform: uppercase; color:#fff;
    font-size: 3rem;
}

.last .eve_title h3:before{
    content: ""; display: inline-block;
    width: 215px; height: 39px;
    background: url("../img/logo_brw.png") no-repeat 0 0;
    padding-right:15px;
}

.last .eve_slider{position: relative; height: 300px; margin: auto; z-index: 999;
width:1280px; display: flex; align-items: center;
flex-direction: row; padding:0 96px; overflow: hidden;

}

.last .eve_slider .arr{
  position: absolute; top:50%; transform: translateY(-50%);
  width:45px; height:45px; border-radius: 50%;
  background: #fafcf3; border: 2px solid #bead9c;
  z-index: 999;
}
.last .eve_slider .arr.left{left:25px;}
.last .eve_slider .arr.left:before{
  content: ""; display: block;position: absolute;
  top:0; left:0; right: 0; bottom: 0; margin: auto;
  width:13px; height:25px; background: url("../img/slider_left.png") no-repeat 0 0;
}
.last .eve_slider .arr.right{right:26px;}
.last .eve_slider .arr.right:before{
  content: ""; display: block;position: absolute;
  top:0; left:0; right: 0; bottom: 0; margin: auto;
  width:13px; height:25px; background: url("../img/slider_right.png") no-repeat 0 0;
}
.last .eve_slider .eve_img{
  position: relative;
  width: 1040px; height: 250px; margin: 25px auto;
  display: flex; align-items: center;
  flex-direction: row; padding:0 96px; overflow: hidden;
}

.last .eve_slider .eve_img .eve_set {
  position:absolute; top:0; overflow:hidden;  white-space: nowrap; left:-1040px;

}

.eve_slider .eve_img .eve_set li{display: inline-block; margin: 0; overflow: hidden; width: 1040px}
.last .eve_slider .eve_img .eve_set .eve{ display: inline-block;
width:250px; height: 250px; white-space: normal;
margin:0 5px;float: left;
}

 .last .eve_slider .eve_img .eve_set .eve.img1{
  background: url("../img/eve1.png") no-repeat 0 0;
  background-position: center;
}
.last .eve_slider .eve_img .eve_set .eve.img2{
  background: url("../img/eve2.png") no-repeat 0 0;
  background-position: center;
}
.last .eve_slider .eve_img .eve_set .eve.img3{
  background: url("../img/eve3.png") no-repeat 0 0;
  background-position: center;
}
.last .eve_slider .eve_img .eve_set .eve.img4{
  background: url("../img/eve4.png") no-repeat 0 0;
  background-position: center;
}

.last .eve_slider .eve_img .eve_set .eve.img5{
  background: url("../img/eve5.png") no-repeat 0 0;
  background-position: center;
}
.last .eve_slider .eve_img .eve_set .eve.img6{
  background: url("../img/eve6.png") no-repeat 0 0;
  background-position: center;
}
.last .eve_slider .eve_img .eve_set .eve.img7{
  background: url("../img/eve7.png") no-repeat 0 0;
  background-position: center;
}
.last .eve_slider .eve_img .eve_set .eve.img8{
  background: url("../img/eve8.png") no-repeat 0 0;
  background-position: center;
}

.last .eve_slider .eve_img .eve_set .eve.img9{
  background: url("../img/eve9.png") no-repeat 0 0;
  background-position: center;
}
.last .eve_slider .eve_img .eve_set .eve.img10{
  background: url("../img/eve10.png") no-repeat 0 0;
  background-position: center;
}
.last .eve_slider .eve_img .eve_set .eve.img11{
  background: url("../img/eve11.png") no-repeat 0 0;
  background-position: center;
}
.last .eve_slider .eve_img .eve_set .eve.img12{
  background: url("../img/eve12.png") no-repeat 0 0;
  background-position: center;
}

.last .social{
  margin-top: 300px; height:100px;
  position: relative;
  display: flex; align-items: center; justify-content: center;
flex-direction: row; z-index: 999;
}
.last .social ul{
  width: 355px;
  /* position: absolute; bottom:0;
  top:0; left:0; right:0; margin: auto; */
}
.last .social ul > li{display: inline-block;}
.last .social ul> li > a{}
.last .social ul> li > a > span.logo{
  display: inline-block; width: 62px; height:62px; padding:19px 11px;
}

.last .social ul> li:nth-child(1) > a > span.logo{
 background: url("../img/sns_face.png") no-repeat 0 0;
}
.last .social ul> li:nth-child(2) > a > span.logo{
 background: url("../img/sns_insta.png") no-repeat 0 0;
}
.last .social ul> li:nth-child(3) > a > span.logo{
 background: url("../img/sns_blog.png") no-repeat 0 0;
}
.last .social ul> li:nth-child(4) > a > span.logo{
 background: url("../img/sns_you.png") no-repeat 0 0;
}
.last .social ul> li:nth-child(5) > a > span.logo{
 background: url("../img/sns_twt.png") no-repeat 0 0;
}

.last .don_last{
    position: absolute; z-index: -1;
    top:0; left:0; right:0; bottom:0; margin: auto;
    height:100%;
}

.last .don_last .img_lstdon{
    position: absolute; left: 685px; bottom:215px;
    display: block;
    width: 440px; height: 445px;
    background: url("../img/donut_last.png") no-repeat 0 0;
    opacity: 0.7;
}

footer{
  display: flex; vertical-align: middle; justify-content: center;text-align: center;
}
footer .footer_inner{
  width: 1280px; height:265px; position: absolute;
    top:100%; left:0; right:0; bottom:0; margin: auto;
    transform: translateY(-50%);  z-index:999;
}
.footer_inner .agreement{}
.footer_inner .agreement ul{padding:12px 0;}
.footer_inner .agreement ul > li{display: inline-block;}
.footer_inner .agreement ul > li:nth-child(3) a{color:#f58246;}
.footer_inner .agreement ul > li + li{ padding-left: 15px;}
.footer_inner .agreement ul > li >a{
  display: block; font: 0.875rem 'Nanum Gothic', sans-serif; color:#b9a695;
}

.footer_inner .others{position: relative; height: 86px; padding:27.5px 0;}
.footer_inner .others .happy{
  position: absolute; left:250px;
  }
.footer_inner .others .happy > li{display: inline-block;}

.footer_inner .others .happy > li >a >span {display: inline-block; height:31px;}
.footer_inner .others .happy > li +li{padding-left:40px;}
.footer_inner .others .happy > li:nth-child(1)>a >span{
  width: 70px;
 background: url("../img/happypoint.png")no-repeat 0 0;
}
.footer_inner .others .happy > li:nth-child(2)>a >span{
 width: 70px;
 background: url("../img/happymarket.gif")no-repeat 0 0;
}
.footer_inner .others .happy > li:nth-child(3)>a >span{
 width: 125px;
 background: url("../img/story.png")no-repeat 0 0;
}
.footer_inner .others .happy > li:nth-child(4)>a >span{
 width:55px; height:32px;
 background: url("../img/norton.gif")no-repeat 0 0;
}
.footer_inner .others .happy > li:nth-child(5)>a >span{
  width: 42px;
 background: url("../img/ccm.gif")no-repeat 0 0;
}


.footer_inner .others .family{position: absolute; right:250px;}
.footer_inner .others .family ul{}
.footer_inner .others .family ul > li{display: inline-block;}
.footer_inner .others .family button{
  width: 152px; height: 33px; border-radius: 5px;
  background: #f8faf0; border: 1px solid #bead9c;
  text-align: left; font-family: "smoothy", sans-serif;
  font-size: .75rem; padding-left: 14px; color:#bead9c;
}
.footer_inner .others .family button:after{
  content: ""; display: inline-block;
  position: absolute; top:14px; right: 12px;
  width: 9px; height:7px;
  background: url("../img/arr_down.png")
}

.footer_inner .address{height:130px; padding-top:15px; border-top:.5px solid #b9a695;}
.footer_inner .address .btm_logo{
  margin: auto; padding:17px 0;
  display: block; width:119px; height:22px;
  background: url("../img/logo_btm.png")no-repeat 0 0;
}
.footer_inner .address > p{
  font-family: 'Nanum Gothic', sans-serif; font-size: .75rem;
  color:#b9a695;
}

.last .fill{ width: 100vw; height:50px; background: #f8faf0;
  position: absolute; bottom:0;
}


























.thr .sub_cir {
  position:absolute; top:-60px; right:0; bottom:0; left:0;
  margin: auto;
  width: 1280px; height:100%;

}
.thr .sub_cir > a {display:block;   position:absolute;
  height: auto; right:0; width:425px; z-index: 100
}
.thr svg.sub_menu{
/*  transform: translate(970px,-172px);*/

}
text {
    font-size: 2.05rem;
    font-family: "smoothy", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    fill:#d4cdb8;
}

.sub_cir svg:hover{
  filter: invert(.4) sepia(1) saturate(30) hue-rotate(360deg) brightness(1)
}



.mover{
  width: 398px; height: 683px;
  position: absolute;
  bottom:685px; left:870px;
  motion-path: path("M404,683.5C184.5,683.5,6.5,505.5,6.5,286C6.5,173.7,53.1,72.3,127.9,0");
  offset-path: path("M404,683.5C184.5,683.5,6.5,505.5,6.5,286C6.5,173.7,53.1,72.3,127.9,0");
  motion-rotation: reverse;
  animation: move 10s linear infinite;
}
@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}
